h1
  {
    font-family: "verdana", sans-serif;
    font-weight: 21900;
    font-style: bold;
    color: #f3017a;
    font-size: 90px;
    margin: 12px 0 0 0;
    /* padding: 0; */
  }

  a {
    padding: 30px;
    background-color: #580830;
    border-radius: 20px;
    /* margin: 90px 90px 90px 90px;  */
  /* color: rgb(99, 15, 209); */
  text-decoration: none;
  font-size: 28px;
  

}

a:hover {
  color: rgb(167, 18, 80);
}

ol{
  font-size: large;
  list-style-type: none;
  /* color: aliceblue; */
  padding: 0;
  margin: 0;
}

li{
  padding: 17px;
  margin: 20px auto 0 auto;
  width: 300px;
  /* padding: 0; */
  border-radius: 10px;
  background-color: #e62686;
  list-style-type: none;

}

header {
  margin-bottom: 40px;
}

.challenge {
  font-size: 20px;
  background-color: #f76cb1;
} 